{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="tool-container">
    <h1>Boxplot</h1>
    <form method="post" class="sentiment-analysis-form" action="{% url 'boxplot' %}">
        {% csrf_token %}

        {% include "partials/io_directories.html" %}

        <fieldset class="form-section">
            <legend>Chart data</legend>

            <div class="field">
                <label for="boxplot_input_yaxis">CSV File Field</label>
                <input type="file" id="boxplot_input_yaxis" name="boxplot_input_yaxis" accept=".csv" required>
            </div>

            <div class="field">
                <label for="search_field">Select a field for visualization (y-axis)</label>
                <select id="search_field" name="search_field" required>
                    <option value="" disabled selected>Select an option</option>
                </select>
            </div>

            <div class="field">
                <label for="data_field">Data</label>
                <select id="data_field" name="data_field">
                    <option value="all">All</option>
                    <option value="none">None</option>
                    <option value="outliers">Outliers</option>
                </select>
            </div>

            <div class="field field-check">
                <label>
                    <input type="checkbox" name="split_data">
                    Split data by categories
                </label>
            </div>
            <div class="field sub-option">
                <label for="boxplot_csv_split">CSV field to split the data</label>
                <select id="search_field" name="search_field" required>
                    <option value="" disabled selected>Select an option</option>
                </select>
            </div>
            <div class="field sub-option">
                <label for="boxplot_csv_color">CSV field for coloring split categories</label>
                <select id="search_field" name="search_field" required>
                    <option value="" disabled selected>Select an option</option>
                </select>
            </div>

            <input type="hidden" name="file_data" id="file_data">
        </fieldset>

        {% include "partials/form_buttons.html" with tips_url="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Boxplots.pdf" %}
    </form>
</div>

<script src="{% static 'js/boxplot.js' %}"></script>
<script src="{% static 'js/onlyone.js' %}"></script>

{% endblock %}
