{% extends 'index.html' %}

{% block content %}
{% load static %}

<div class="tool-container">
    <h1>Excel/Plotly Charts</h1>
    <form method="post" class="sentiment-analysis-form">
        {% csrf_token %}

        {% include "partials/io_directories.html" %}

        <fieldset class="form-section">
            <legend>Axes</legend>

            <div class="field-row">
                <div class="field">
                    <label for="x-axis">X-axis</label>
                    <select id="x-axis" name="x-axis" onchange="window.location.href=this.value;">
                        <option value="" disabled selected>Select an option</option>
                        <option value="Term">Term</option>
                        <option value="WordNetCategory">WordNet Category</option>
                        <option value="SynsetDefinition">Synset Definition</option>
                        <option value="Frequency">Frequency</option>
                        <option value="SynsetExample">Synset Example</option>
                    </select>
                </div>
                <div class="field">
                    <label for="addY-axis">Additional Y-axis</label>
                    <select id="addY-axis" name="addY-axis" onchange="window.location.href=this.value;">
                        <option value="" disabled selected>Select an option</option>
                        <option value="Term">Term</option>
                        <option value="WordNetCategory">WordNet Category</option>
                        <option value="SynsetDefinition">Synset Definition</option>
                        <option value="Frequency">Frequency</option>
                        <option value="SynsetExample">Synset Example</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <div class="options">
                    <button type="button" class="addvar-button">+</button>
                    <button type="button" class="clear-button">Reset</button>
                    <button type="button" class="show-button">Show</button>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-section">
            <legend>Visualization</legend>
            {% include "partials/data_transformation.html" %}
        </fieldset>

        {% include "partials/form_buttons.html" with tips_url="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Excel%20Charts.pdf" %}

    </form>
</div>

{% endblock %}
