{% extends 'index.html' %}

{% block content %}
{% load static %}


<div class="tool-container">
    <h1>Gender Analysis</h1>
    {% csrf_token %}

    {% include "partials/io_directories.html" %}

    <fieldset class="form-section">
        <legend>Gender annotation</legend>

        <div class="field">
            <label for="input_csv_file">Select INPUT CSV file</label>
            <input type="file" id="input_csv_file" name="input_csv_file">
        </div>

        <div class="field field-check">
            <label>
                <input type="checkbox" id="CoreNLP_gender_annotator_var" name="CoreNLP_gender_annotator_var">
                Annotate nouns &amp; pronouns gender (via CoreNLP Gender annotator - Neural Network)
            </label>
        </div>
        <div class="field-row sub-option">
            <div class="field field-check">
                <label>
                    <input type="checkbox" id="CoreNLP_download_gender_file_var" name="CoreNLP_download_gender_file_var" disabled>
                    Download CoreNLP gender file
                </label>
            </div>
            <div class="field field-check">
                <label>
                    <input type="checkbox" id="CoreNLP_upload_gender_file_var" name="CoreNLP_upload_gender_file_var" disabled>
                    Upload CoreNLP gender file
                </label>
            </div>
        </div>

        <div class="field field-check">
            <label>
                <input type="checkbox" id="annotator_dictionary_var" name="annotator_dictionary_var">
                Annotate first names by gender (via selected dictionary file)
            </label>
        </div>
        <div class="field-row sub-option">
            <div class="field">
                <label for="select-dic-file">Select dictionary file</label>
                <input type="file" id="select-dic-file" name="select-dic-file" disabled>
            </div>
            <div class="field">
                <label for="select-csv-file">Select csv file</label>
                <input type="file" id="select-csv-file" name="select-csv-file" disabled>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-section">
        <legend>US Social Security names</legend>

        <div class="field field-check">
            <label>
                <input type="checkbox" id="plot_var" name="plot_var">
                Process names via US SS
            </label>
        </div>
        <div class="field-row sub-option">
            <div class="field">
                <label for="year_state_var">By US/State/Year</label>
                <select id="year_state_var" name="year_state_var" disabled>
                    <option value="state"> State </option>
                    <option value="year_of_birth"> Year Of Birth</option>
                    <option value="state&year_of_birth"> State and Year Of Birth</option>
                </select>
            </div>
            <div class="field">
                <label for="firstName_entry_var">Enter Name</label>
                <input type="text" id="firstName_entry_var" name="firstName_entry_var" disabled>
            </div>
        </div>

        <div class="field">
            <form action="https://www.ssa.gov/oact/babynames/limits.html">
                <input type="submit" value="Go to USS website" />
            </form>
        </div>

        <div class="field field-check">
            <label>
                <input type="checkbox" id="generate_ss_file" name="generate_ss_file">
                Generate new US Social Security files (by US State, Year of birth, US State &amp; Year of birth)
            </label>
        </div>
        <div class="field sub-option">
            <input type="file" id="ss_file" name="ss_file" disabled>
        </div>
    </fieldset>

    <fieldset class="form-section">
        <legend>Visualization</legend>
        {% include "partials/data_transformation.html" %}
    </fieldset>

    {% include "partials/form_buttons.html" with tips_url="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Stanford%20CoreNLP%20gender%20annotator.pdf" %}

    <script src="{% static 'js/gender_analysis.js' %}"></script>
</div>
<script src="{% static 'js/onlyone.js' %}"></script>
{% endblock %}
