{% extends 'index.html' %}

{% block content %}
{% load static %}
<div class="tool-container">
    <h1>Shape of Stories</h1>
    <form method="post" class="ngram-CoOcc-form">
        {% csrf_token %}

        {% include "partials/io_directories.html" %}

        <fieldset class="form-section">
            <legend>Sentiment analysis</legend>

            <div class="field field-check">
                <label>
                    <input type="checkbox" id="sentiment_analysis" name="sentiment_analysis" checked>
                    Sentiment Analysis
                </label>
            </div>
            <div class="field sub-option">
                <label for="algorithm">Sentiment analysis algorithm</label>
                <select id="algorithm" name="algorithm">
                    <optgroup label="Neural network approaches:">
                        <option value="bert_english">BERT (English model)</option>
                        <option value="bert_multilingual">BERT (Multilingual model)</option>
                        <option value="spacy">spaCy</option>
                        <option value="stanford_corenlp">Stanford CoreNLP</option>
                        <option value="stanza">Stanza</option>
                    </optgroup>
                    <optgroup label="Dictionary approaches:">
                        <option value="anew">ANEW</option>
                        <option value="hedonometer">hedonometer</option>
                        <option value="sentiwordnet">SentiWordNet</option>
                        <option value="vader">VADER</option>
                    </optgroup>
                </select>
            </div>
        </fieldset>

        <fieldset class="form-section">
            <legend>Data reduction methods</legend>

            <div class="field field-check">
                <label>
                    <input type="checkbox" id="compute-visualize" name="compute-visualize">
                    Compute &amp; visualize corpus statistics
                </label>
            </div>

            <div class="field field-check">
                <label>
                    <input type="checkbox" id="hierarchical-clustering" name="hierarchical-clustering">
                    Hierarchical Clustering (HC)
                </label>
            </div>

            <div class="field field-check">
                <label>
                    <input type="checkbox" id="singular-value-decomp" name="singular-value-decomp">
                    Singular Value Decomposition (SVD)
                </label>
            </div>

            <div class="field field-check">
                <label>
                    <input type="checkbox" id="non-negative-matrix-fact" name="non-negative-matrix-fact">
                    Non-Negative Matrix Factorization (NMF)
                </label>
            </div>

            <div class="field field-check">
                <label>
                    <input type="checkbox" id="best-topic-est" name="best-topic-est">
                    Best topic estimation
                </label>
            </div>
        </fieldset>

        <fieldset class="form-section">
            <legend>Visualization</legend>
            {% include "partials/data_transformation.html" %}
        </fieldset>

        {% include "partials/form_buttons.html" with tips_url="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Shape%20of%20stories.pdf" %}
    </form>
</div>

{% endblock %}
